@import url("./global.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./banner.css");
@import url("./sobre.css");
@import url("./habilidades.css");
@import url("./projetos.css");
@import url("./contato.css");
@import url("./footer.css");
