@import url("./global.css");
@import url("./home.css");
@import url("./sobre.css");
@import url("./habilidades.css");
@import url("./projetos.css");
@import url("./contato.css");
@import url("./footer.css");
